#content{
	background:FCFAFA;	
}

.pure-menu{
	
	
}

#layout{
	padding:0;
}

.sidebar{
	color: #fff;
}

.post {
    padding-bottom: 2em;
}

.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: ;
}
.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}


#feed{
	background: rgb(61, 79, 93);
	
}

#header{
	
	background: #282B2F;
	text-align:center;
	color: white;
}

.footer{
	text-align:center;
}